# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/cmsis_os.lst
build/croutine.lst
build/event_groups.lst
build/f3d.bin
build/freertos.lst
build/heap_4.lst
build/list.lst
build/main.lst
build/port.lst
build/queue.lst
build/stm32f3xx_hal_cortex.lst
build/stm32f3xx_hal_dma.lst
build/stm32f3xx_hal_exti.lst
build/stm32f3xx_hal_flash_ex.lst
build/stm32f3xx_hal_flash.lst
build/stm32f3xx_hal_gpio.lst
build/stm32f3xx_hal_i2c_ex.lst
build/stm32f3xx_hal_i2c.lst
build/stm32f3xx_hal_msp.lst
build/stm32f3xx_hal_pcd_ex.lst
build/stm32f3xx_hal_pcd.lst
build/stm32f3xx_hal_pwr_ex.lst
build/stm32f3xx_hal_pwr.lst
build/stm32f3xx_hal_rcc_ex.lst
build/stm32f3xx_hal_rcc.lst
build/stm32f3xx_hal_spi_ex.lst
build/stm32f3xx_hal_spi.lst
build/stm32f3xx_hal_tim_ex.lst
build/stm32f3xx_hal_tim.lst
build/stm32f3xx_hal_timebase_tim.lst
build/stm32f3xx_hal.lst
build/stm32f3xx_it.lst
build/stm32f3xx_ll_usb.lst
build/stream_buffer.lst
build/syscalls.lst
build/sysmem.lst
build/system_stm32f3xx.lst
build/tasks.lst
build/timers.lst
